<!--<p>
  <app-click-me></app-click-me>
</p>

<h4>keyup loop-back component</h4>
<div><app-loop-back></app-loop-back></div>
<br><br>-->
<!--
<h4>little-tour component</h4>-->
<!--<p><i>Add a new hero</i></p>-->
<!--<div><app-little-tour></app-little-tour></div>-->


<!--************************************-->
<!--using @Input-->
<!--<div><app-item-input [item]="currentItem"></app-item-input></div>
<br><br>-->

<!--************************************-->
<!--using @Output-->
<!--
<app-item-output [Ave]="currentAvenger" (newItemEvent)="addItem($event)"></app-item-output>

<ul>
  <li *ngFor = "let hero of avengers">{{hero}}</li>
</ul>
-->

<!--**************************************-->

